<Html>    
    <Head>
    <link rel="shortcut icon" href="#">
    <meta property="og:url" content=" {{ video_url }}">
    <meta name="og:title" content="{{ nickname }} (@{{ Id }})" />
<!--     <meta property="og:description" content=" {{ desc }} "/> -->

    <meta property="og:site_name" content="{{ appname }}"/>
<!--     <meta property="og:url" content=" {{ video_url }}"> -->
    <meta property="og:image" content=" {{ cover }}"/>
    <meta property="og:video:type" content="text/html"/>
    <meta property="og:video:url" content="{{ video_url }}"/>
    <meta property="og:video:height" content="{{ height }}"/>
    <meta property="og:video:width" content="{{ width }}"/>
    <meta property="og:type" content="video"/>
    <link rel="alternate" href="{{ embed }}" type="application/json+oembed"/> 

    <title>
    </title>  
    </Head> 
    </Html>  
    