<Html>    
    <Head>
    <link rel="shortcut icon" href="#">

    <!-- <meta content="Discord - Free Voice and Text Chat" property="og:title">
    
    <meta content="All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
    
    Stop paying for TeamSpeak servers and hassling with Skype. Simplify your life." property="og:description"> -->
    
    <!-- <meta content='https://discordapp.com/assets/ba74954dde74ff40a32ff58069e78c36.png' property='og:image'> -->
    <!-- <meta content='"https://cdn.discordapp.com/attachments/957419729323163699/979363400364744744/7100769892172844290.mp4' property='og:video:url'>
    
    <link type="application/json+oembed" href="https://cdn.discordapp.com/attachments/957419729323163699/979399450797703278/eudn1883.json" /> -->
    
    <!-- <meta name="twitter:card" content="summary_large_image"> -->
    <!-- <meta property="og:video:url" content="https://cdn.discordapp.com/attachments/957419729323163699/979363400364744744/7100769892172844290.mp4" /> -->
    <meta name="twitter:title" content="{{ nickname }} (@{{ Id }})" />
    <meta property="og:description" content=" {{ desc }} ">

    <meta property="og:site_name" content="{{ appname }}">
    <meta property="og:url" content=" {{ video_url }}">
    <meta property="og:image" content=" {{ cover }}">
    <meta property="og:video:type" content="text/html">
    <meta property="og:video:url" content="{{ video_url }}">
    <meta property="og:video:height" content="{{ height }}">
    <meta property="og:video:width" content="{{ width }}">
    <meta property="og:type" content="video.other">
    
    
      
    <title>
    </title>  
    </Head>  
    <Body>   
    </Body>  
    </Html>  
    